@model RussianHub.Models.PersonalParameters

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PersonalParameters</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Weigh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Weigh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nickname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nickname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RealName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RealName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Info)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Info)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EyeColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EyeColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HairColor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HairColor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Character)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Character)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatefBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatefBirth)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
