@model IEnumerable<RussianHub.Models.PersonalParameters>

@{
    ViewData["Title"] = "Index";
}

<h1 align="center">База данных с персональной информацией</h1>

<p align="center">
    <a asp-action="Create">Создать новый элемент</a>
</p>
<table class="table" align="center" border=1>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Ade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Weigh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nickname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RealName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Info)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EyeColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HairColor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Character)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatefBirth)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Weigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nickname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RealName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Info)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EyeColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HairColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Character)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatefBirth)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
